@model IEnumerable<KingsCafe_V2.Models.User>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Index</h2>

<p>
    <a class="btn btn-primary" href="@Url.Action("Create","Adm_Users")">Create</a>
</p>
<table class="table">
    <tr>
        <th>
            Image
        </th> 
        <th>
            Name
        </th>
        <th>
            Email
        </th>
        <th>
            Password
        </th>
        <th>
            Status
        </th>
        <th>
            Type
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        <img src="@item.Image" width="100" height="100" />
    </td>
    <td>
        @item.Name
    </td>
    <td>
        @item.Email
    </td>
    <td>
        @item.Password
    </td>
    <td>
        @item.Status
    </td>
    <td>
        @item.Type
    </td>
    <td>
        <a href="@Url.Action("Edit","Adm_Users", new { id = item.UserID })" class="btn btn-primary glyphicon glyphicon-edit"></a> |
        <a href="@Url.Action("Details","Adm_Users", new { id = item.UserID })" class="btn btn-success glyphicon glyphicon-book"></a> |
        <a href="@Url.Action("Delete","Adm_Users", new { id = item.UserID })" class="btn btn-danger glyphicon glyphicon-remove"></a>

    </td>
</tr>
}

</table>
